
*,*:before,*:after{
	box-sizing: border-box;
}
body{
	background-color:green;
	font-size: 18px;
	margin: 1rem;
}

button{
	border: 1px solid black;
	border-radius: 10%;


}

.container{
	display: flex;
}


.table, .status{
	
}

.table{
	width: 70%
}

.status{
	background-color: red;
	flex-direction: column;
	justify-content: center;
	width:30%;
}

.player-hand,.dealer-hand{
	display: flex;
	flex-wrap: wrap;
}

.card{
	margin: 1rem;
	border: 1px solid black;
	border-radius: 2%;
	background-color:#FFF; 
	max-height: 238px;
}

